



.btnn{
    font-size: 16px;
    width:200px;
    height: 30px;


    padding:2px 2px 2px 2px;

    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 3px 0 rgba(0,0,0,0.04);
    vertical-align: baseline;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;


    cursor: pointer;

    display: inline;
    color:#fff;

}
.errors{
    position:absolute;
    left:530px;
    top:180px;

}
.data{
    display:inline-block;
}
.dd{
    display:block;

    margin-bottom:3px;
}




.important{
    display:inline-block;
    width:45%;
}
.fields{
    display:inline-block;

    width:190px;

}
.field{
    display:inline-block;

    width:190px;
    visibility: hidden;
    margin-left:300px;
}


.password{
    display:block;
    width:28%;
    position:relative;
    bottom:5px;
}


.info{


    background:-webkit-gradient(linear,left top,left bottom,from(#85B716),to(#859916));}